:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #20cfea 0%, #16adc4 100%);
  --signUpCard: linear-gradient(98.63deg, #e8b829 0%, #e38913 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #37c843;
  --video: #ca8018;
  --location: #8922af;
  --schedule: #137bb3;
  --lightBlue: #20cfea;

}

.App{
  overflow: hidden;
  color: var(--black);
  background-color: #f3f3f3;
  padding: 1rem 1rem;
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  background-color: #81e889;  
  border-radius: 50%;
  filter: blur(70px);
}

.blurBlue{
  position: absolute;
  width: 15rem;
  height: 20rem;
  background-color: #22ddeb;  
  border-radius: 50%;
  filter: blur(70px);
}


.blurYellow{
  position: absolute;
  width: 45rem;
  height: 20rem;
  background-color: #ebb73e;  
  border-radius: 50%;
  filter: blur(200px);
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  color: white;
  background: var(--buttonBg);

  &:hover{
    cursor: pointer;
    color: var(--lightBlue);
    background: transparent;
    border: 2px solid var(--lightBlue);
  }

  &:disabled{
    pointer-events: none;   //area becomes unclickable
    background: silver;
  }

  &.button-postShare{
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 13px;
        }

    &.button-follower{
          padding-right: 20px;
          height: 2rem;
          padding-left: 20px;
    }

    &.trendSideButton{
      padding: 1rem;
      align-self: center;
      width: 75%;
      font-size: 18px;
    }

    &.logoutButton{
      padding: 10px;
      width: 80%;
      align-self: center;
      margin-top: 70px;
    }

    &.signUpButton{
      padding: 10px;
      width: 50%;
      align-self: center;
      font-size: 20px;
    }

    &.editInfoSaveButton{
      padding: 10px;
      width: 50%;
      align-self: center;
      font-size: 20px;
    }
}

::-webkit-scrollbar{
  display: none;
}