.chat{
    display: grid;
    grid-template-columns: 23% auto;
    gap: 1rem;
    position: relative;

    .leftSide{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .chatContainer{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background: var(--cardColor);
            border-radius: 15px;
            padding: 1rem;
            height: auto;
            min-height: 83vh;
            overflow: scroll;

            .chatList{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .followerConversation{
                    border-radius: 0.5rem;
                    padding: 10px;

                    div{
                        position: relative;
                    }
                    
                    &:hover{
                        background: #80808038;
                        cursor: pointer;
                    }
                    .onlineDot {
                        background-color: lightgreen;
                        border-radius: 50%;
                        position: absolute;
                        left: 2rem;
                        width: 1rem;
                        height: 1rem;
                      }
                    .followerImg{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                    
                }
                
            }
        }
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .navIcons{
            margin-top: 1rem;
            display: flex;
            gap: 3.5rem;
            align-self: flex-end;
        }

        .followerImg{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }


}