.post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 5px;
    gap: 1rem;


    img{
        width: 100%;
        object-fit: cover;
        max-height: 25rem;
        border-radius: 5px;
    }

    .postReact{
        display:flex;
        align-items: flex-start;
        gap: 1rem;

        img{
            width: 23px;
        }
    }
}