
.logoSearch{
    gap: 0.75rem;
    display:flex;

    img{
       width: 75%;
        max-height: 3rem;
    }

.search{
    display:flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 5px;
    input{
        background-color: transparent;
        border: none;
        outline: none;
    }
}

.searchIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--buttonBg);
    border-radius: 5px;
    padding:5px;
    color: white;


    &:hover{
        cursor: pointer;
    }
      
}
}
